
@model List<Product>

@{

    //IEnumerable<Product> products = (IEnumerable<Product>)ViewBag.Product;
}


@if (TempData["Error"] != null)
{
    <h3 class="text-danger"> @TempData["Error"].ToString() </h3>
}

<section class="container border position-relative text-black form-control border-danger">
    <h1 class="text-center">
        <font size="15" face="Verdana">
            Hot Drinks
        </font>
    </h1>
</section>

<section class="container form-control border-danger">
    <ul class="d-flex flex-wrap justify-content-center list-group list-group-horizontal">

        @foreach (var item in Model)
        {
            <li class="list-group-item">

                <div class="card" style="width: 18rem;">
                    <a asp-action="ProductDetail" asp-route-id="@item.ID">
                        <img src="@item.ImagePath" class="card-img-top" alt="@item.Name" width="75" height="275">@*alt kısmına resimsiz dosyaların içeriği adı vs yazılır....*@
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>

                        </div>
                    </a>
                </div>

            </li>
        }

    </ul>
</section>


